<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
     <h4><%= link_to "Home", flats_path %></h4>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-content">
          <%= link_to "New Flat", new_flat_path %>
        </div>
  </div><!-- /.container-fluid -->
</nav>

<div class="form-design">

  <h5>******** Edit your flat ********</h5>
  <%= render "form", flat: @flat %>
</div>


